{% extends 'base.html.twig' %}

{% block body %}

<div style="padding-top: 30px">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
    {% for todo in todos %}
      <tr>
        <td> {{ todo.name }} </td>
        <td> {{ todo.duedate|date('d.m.Y, g:i a') }} </td>
        <td><a href="/details/{{ todo.id }}" class="btn btn-success"> View </a> </td>
        <td><a href="/edit/{{ todo.id }}" class="btn btn-default"> Edit </a> </td>
        <td><a href="/delete/{{ todo.id }}" class="btn btn-danger"> Delete </a> </td>
      </tr>
    {% endfor %}

    </tbody>
  </table>
</div>

{% endblock %}
{% block javascripts %}
{% endblock %}